;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 []

 :builds
 {:pentip
  {:target :browser
   :output-dir "public/js"
   :asset-path "/js"
   :modules {:click-to-select {:entries [pentip.click-to-select]}}
   :devtools {:http-root "public"
              :http-port 8020}}}}
